

<% @campaigns.each do |campaign| %>
  <table cellspacing="0" class="blockCenter">
    <tr>
      <td colspan="6" class="campaign">
        <h2><%= campaign.name %></h2>
        <p><%= campaign.start_date %> - <%= campaign.end_date %></p>
      </td>

    </tr>
    <tr>
      <td rowspan="5" class="side_projects">
        <ul>
          <% campaign.assignments.each do |a|%>
            <% if a.extra %>
              <li>
                <% if a.url %>
                  <a href="<%= a.url %>"><%= a.name %></a>
                <% else %>
                  <%= a.name %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </td>
    </tr>


    <% campaign.weeks.order(week_number: :asc).each do |week| %>
    <tr>
      <td class="firstCell">
        <ul>
          <li class="focus">
            <%= campaign.days.where(date: week.week_start)[0].focus %>
          </li>
          <% campaign.assignments.where(date: week.week_start).each do |a| %>
              <li>
                <% if a.url %>
                  <a href="<%= a.url %>"><%= a.name %></a>
                <% else %>
                  <%= a.name %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <li class="focus">
            <%= campaign.days.where(date: week.week_start + 1)[0].focus %>
          </li>
          <% campaign.assignments.where(date: week.week_start + 1).each do |a| %>
              <li>
                <% if a.url %>
                  <a href="<%= a.url %>"><%= a.name %></a>
                <% else %>
                  <%= a.name %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <li class="focus">
            <%= campaign.days.where(date: week.week_start + 2)[0].focus %>
          </li>
          <% campaign.assignments.where(date: week.week_start + 2).each do |a| %>
              <li>
                <% if a.url %>
                  <a href="<%= a.url %>"><%= a.name %></a>
                <% else %>
                  <%= a.name %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </td>
      <td>
        <ul>
          <li class="focus">
            <%= campaign.days.where(date: week.week_start + 3)[0].focus %>
          </li>
          <% campaign.assignments.where(date: week.week_start + 3).each do |a| %>
              <li>
                <% if a.url %>
                  <a href="<%= a.url %>"><%= a.name %></a>
                <% else %>
                  <%= a.name %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </td>
      <td class="lastCell">
        <ul>
          <li class="focus">
            <%= campaign.days.where(date: week.week_start + 4)[0].focus %>
          </li>
          <% campaign.assignments.where(date: week.week_start + 4).each do |a| %>
              <li>
                <% if a.url %>
                  <a href="<%= a.url %>"><%= a.name %></a>
                <% else %>
                  <%= a.name %>
                <% end %>
              </li>
          <% end %>
        </ul>
      </td>
    </tr>

    <tr>
      <td colspan="6" class="systems_check">
        <ul>
          <li><%= week.systemscheck %></li>
          <li>
          <% if week.blog_url %>
            <a href="<%= week.blog_url %>">Blog</a>
          <% else %>
            Blog
          <% end %>
          </li>
        </ul>
      </td>
    </tr>
    <% end %>

  </table>
<% end %>


