  <table cellspacing="0" class="blockCenter" id="daysWeek">
    <tr>
      <th class="firstCell">Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th class="lastCell">Extra Work</th>
    </tr>
  </table>

<% @campaigns.each do |campaign| %>
  <table cellspacing="0" class="blockCenter">
  <tr>
    <td colspan="6" class="campaign">
    <h2><%= campaign.name %></h2>
    <p><%= campaign.start_date %> - <%= campaign.end_date %></p>
    </td>
  </tr>

   <% campaign.weeks.each do |w| %>

    <tr>
      <% w.days.each do |d| %>
      <td><ul>
        <% if d.focus %><li class="focus">
        <%= d.focus %></li><% end %>

        <% d.assignments.each do |a| %>
        <li><% if a.url %><a href="<%= a.url %>"><%end%>
        <%= a.name %></a></li>
        <% end %>
      </ul></td>
      <% end %>
    </tr>
    <tr>
      <td colspan="6" class="systems_check"><ul>
          <li><%= w.systemscheck %></li>
          <li><% if w.blog_url %><a href="<%= w.blog_url %>"><%end%>Blog</a></li>
      </ul></td>
    </tr>

    <% end %>
  </table>
<% end %>
